set -x
# set timezone to CST
/bin/cp -f /usr/share/zoneinfo/Asia/Shanghai /etc/localtime

#mkinitrd /boot/initrd-$(uname -r).img $(uname -r) --force
#mkinitrd /boot/$(ls /boot/ | grep initrd) $(ls /boot/ | grep initrd | sed "s%.img%%; s%initrd-%%") --force
#use mkinitcpio instead
sed -i 's/MODULES="/MOUDLES="i915/g' /etc/mkinitcpio.conf
sed -i 's/HOOKS="base udev/HOOKS="base udev plymouth/g' /etc/mkinitcpio.conf
mkinitcpio -p linux

## locale has been handled by installer
#i18n configuration
##echo "LANG=zh_CN.utf8" >/etc/locale.conf

#network configuration
echo "NETWORKING=yes" >/etc/sysconfig/network
echo "HOSTNAME=$HOSTNAME" >>/etc/sysconfig/network


cat >/etc/hosts <<EOF
# Do not remove the following line, or various programs
# that require network functionality will fail.
127.0.0.1       localhost.localdomain localhost
EOF

cat >/etc/hostname <<EOF
isoft
EOF

#Remember Run pwconv
pwconv


# root setting
# removese setup EFI_SUPPORT=true or false
EFI_SUPPORT=false
if [ -d "/sys/firmware/efi" ]; then
    EFI_SUPPORT=true
else
    EFI_SUPPORT=false
fi

if [ ${EFI_SUPPORT} = true ]; then
    export GRUB_DISTRIBUTOR="CETC Client OS"
    export GRUB_DISABLE_RECOVERY=true
    export GRUB_FONT=/usr/share/grub/unicode.pf2
    export GRUB_GFXPAYLOAD_LINUX=keep
    bootloader_id="CETC Client OS"
    efi_distributor=grub
    efi_file=grubx64.efi
    efidisk="$(df /boot/efi/ | grep dev | cut -c1-8)"
    efipart="$(df /boot/efi/ | grep dev | cut -c9-9)"
    grubdir="/boot/efi/EFI/$efi_distributor"
    localedir="/usr/share/locale"
    modprobe dm-mod
    grub-install --target=x86_64-efi --efi-directory=/boot/efi --bootloader-id="$efi_distributor" --boot-directory=/boot/efi/EFI --recheck
    str=`efibootmgr | grep "$efi_distributor"`
    efibootmgr -b ${str:4:4} -B
    str1=`efibootmgr | grep "$bootloader_id"`
    efibootmgr -b ${str1:4:4} -B
    efibootmgr -c -q -d "$efidisk" -p "$efipart" -w \
        -L "$bootloader_id" -l "\\EFI\\$efi_distributor\\$efi_file"
    grub-mkconfig > "${grubdir}"/grub.cfg
    sed -i -e 's%lang=en_US%lang=zh_CN%g' "${grubdir}"/grub.cfg
    mkdir -p "${grubdir}"/locale/
    for dir in "${localedir}"/*; do
        if test -f "$dir/LC_MESSAGES/grub.mo"; then
           cp -vf "$dir/LC_MESSAGES/grub.mo" "${grubdir}/locale/${dir##*/}.mo"
        fi
    done
else 
    # when no efi
    grub-install $GRUB_DEVICE
    export GRUB_DISTRIBUTOR="CETC Client OS"
    export GRUB_DISABLE_RECOVERY=true
    grub-mkconfig > /boot/grub/grub.cfg
fi

#set lang, kdm, sudoers
chmod 640 /etc/sudoers
sed -i 's/# %wheel ALL=(ALL) NOPASSWD: ALL/%wheel ALL=(ALL) NOPASSWD: ALL/g' /etc/sudoers
chmod 440 /etc/sudoers

sed -i 's/#zh_CN/zh_CN/g' /etc/locale.gen
sed -i 's/#en_US/en_US/g' /etc/locale.gen
locale-gen

sed -i 's%#Server = http://ftp%Server = http://ftp%g' /etc/pacman.d/mirrorlist
sed -i '/#\[multilib\]/{N;s/#//g}' /etc/pacman.conf

ln -sf vim /usr/bin/vi

sed -i 's/SystemGroup sys root/SystemGroup sys root users/' /etc/cups/cups-file.conf 

usermod -a -G users nobody
mkdir -p /srv/smb
chown root:users /srv/smb
chmod 1775  /srv/smb

pacman-key --init && pacman-key --populate archlinux

systemctl enable kdm-plymouth
##no pacman-init.service file
##systemctl enable pacman-init
systemctl enable NetworkManager
systemctl enable smbd
systemctl enable cups
systemctl enable dkms

