#!/bin/bash

set -x
# copy grub files
#cp -a /usr/share/grub/i386-pc/* /boot/grub/

# disable gpg check
# sed -i 's/gpgcheck=1/gpgcheck=0/' /etc/yum.conf

# set /tmp 1777
mkdir /dev

# mkinitrd
mount -t devtmpfs udev /dev
mount -t sysfs sysfs /sys
mount -t proc procfs /proc
##/sbin/new-kernel-pkg --package kernel --mkinitrd --depmod --install  `uname -r`

# remove useless services

# import RPM-GPG-KEY
# rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY

# remove installer
# rpm -e cetcosinstaller

# set timezone to CST
/bin/cp -f /usr/share/zoneinfo/Asia/Shanghai /etc/localtime

# root setting
