[Desktop Entry]
Encoding=UTF-8
Name=iSoft Client OS Installer
Name[zh_CN]=普华桌面操作系统安装程序
GenericName=iSoft Client OS Installer
GenericName[zh_CN]=普华桌面操作系统安装程序
Comment=iSoft Client OS Installer
Comment[zh_CN]=普华桌面操作系统安装程序
Exec=kdesu cetcosinstaller
Terminal=false
Type=Application
Icon=/usr/share/cetcosinstaller/images/cetcosinstaller.png
Categories=Application;System;
