[Desktop Entry]
Encoding=UTF-8
Name=CETC OS Installer
Name[zh_CN]=CETC OS 安装程序
GenericName=CETC OS Installer
GenericName[zh_CN]=安装程序
Comment=CETC OS Installer
Comment[zh_CN]=CETC OS 安装程序
Exec=kdesu cetcosinstaller
Terminal=false
Type=Application
Icon=/usr/share/cetcosinstaller/images/cetcosinstaller.png
Categories=Application;System;
